[submodule "Aurora.IO"]
	path = Aurora.IO
	url = https://github.com/nanuit/Aurora.IO.git
[submodule "Aurora.Configs"]
	path = Aurora.Configs
	url = https://github.com/nanuit/Aurora.Configs.git
[submodule "Aurora.Misc"]
	path = Aurora.Misc
	url = https://github.com/nanuit/Aurora.Misc.git
[submodule "Aurora.Wpf"]
	path = Aurora.Wpf
	url = https://github.com/nanuit/Aurora.Wpf.git
[submodule "Aurora.Crypt.Forms"]
	path = Aurora.Crypt.Forms
	url = https://github.com/nanuit/Aurora.Crypt.Forms.git
[submodule "Aurora.Crypt"]
	path = Aurora.Crypt
	url = https://github.com/nanuit/Aurora.Crypt.git
[submodule "Aurora.Math"]
	path = Aurora.Math
	url = https://github.com/nanuit/Aurora.Math.git
[submodule "Aurora.Forms"]
	path = Aurora.Forms
	url = https://github.com/nanuit/Aurora.Forms.git
[submodule "Aurora.SignalR"]
	path = Aurora.SignalR
	url = https://github.com/nanuit/Aurora.SignalR.git
